<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Mario Test App</h1>
    <p class="col-md-8 fs-4">There are 2 questions</p>
    <h4>Rules</h4>
    <ol>
        <li>10 points for one correct question</li>
        <li>-5 point for Incorrect question</li>
        <li>60 sec to answer</li>
    </ol>
    <h1 style="font-family:cursive; text-align:center">Good Luck!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">
        <button class="btn btn-primary btn-lg" routerLink="/topic" (click)="startQuiz()">Start the quiz</button>
    </div>
</div>
